:root {
    --bg-main: #f0f4f8;
    --sidebar-dark: #122326;
    --primary-green: #2dbb73;
    --card-white: #ffffff;
}

/* Base */

body{
background:var(--bg-main);
margin:0;
font-family:'Poppins',sans-serif;
}

.dashboard{
display:flex;
min-height:100vh;
}

/* SIDEBAR */

.sidebar{
width:250px;
background:var(--sidebar-dark);
color:white;
padding:25px;
display:flex;
flex-direction:column;
}

.logo{
font-size:1.2rem;
margin-bottom:40px;
}

/* MENU */

.menu a{
position:relative;
display:flex;
align-items:center;
color:#a0aec0;
text-decoration:none;
padding:12px 15px;
margin-bottom:8px;
border-radius:12px;
transition:all 0.3s cubic-bezier(0.4,0,0.2,1);
overflow:hidden;
}

.menu a:hover{
color:#ffffff;
background:rgba(255,255,255,0.05);
}

.menu a.active{
color:#ffffff;
background:linear-gradient(90deg,rgba(45,187,115,0.15)0%,rgba(45,187,115,0)100%);
}

.menu a::before{
content:"";
position:absolute;
left:0;
top:0;
height:100%;
width:4px;
background-color:var(--primary-green);
transform:scaleY(0);
transition:transform 0.3s ease;
border-radius:0 4px 4px 0;
}

.menu a.active::before{
transform:scaleY(1);
}

/* USER */

.user-profile{
margin-top:auto;
}

.info{
font-size:0.9rem;
color:#5778a4;
}

/* MAIN */

.main{
flex:1;
padding:30px 50px;
}

/* HEADER */

.header{
display:flex;
justify-content:space-between;
align-items:center;
}

.btn{
background:var(--primary-green);
color:white;
border:none;
padding:10px 20px;
border-radius:8px;
cursor:pointer;
}

/* SALDO */

.saldo{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
margin:25px 0;
}

.saldo-box{
background:white;
padding:20px;
border-radius:20px;
box-shadow:0 4px 6px rgba(0,0,0,0.02);
}

.card{
background:white;
padding:20px;
border-radius:20px;
box-shadow:0 4px 6px rgba(0,0,0,0.02);
}

.gasto h3{
color:#e53e3e;
}

.ingreso h3{
color:#38a169;
}

/* GRAFICA */

.chart-container{
background:white;
padding:25px;
border-radius:20px;
margin-bottom:25px;
}

.bars{
display:flex;
align-items:flex-end;
gap:10px;
height:120px;
margin-top:20px;
}

.bar{
width:20px;
border-radius:6px 6px 0 0;
}

.bar.green{
background:#38a169;
}

.bar.red{
background:#e53e3e;
}

/* TABLA */

.table-container{
background:white;
padding:25px;
border-radius:20px;
}

table{
width:100%;
border-collapse:collapse;
}

th{
text-align:left;
padding-bottom:10px;
color:#4a5568;
font-size:0.9rem;
}

td{
padding:12px 0;
border-bottom:1px solid #edf2f7;
}

.negativo{
color:#e53e3e;
}

.positivo{
color:#38a169;
}