:root{

--bg-main:#f0f4f8;
--sidebar-dark:#122326;
--primary-green:#2dbb73;

}

body{

margin:0;
font-family:'Poppins',sans-serif;
background:var(--bg-main);

}

.dashboard{

display:flex;
min-height:100vh;

}

/* SIDEBAR */
.sidebar{
width:250px;
background:var(--sidebar-dark);
color:white;
padding:25px;
display:flex;
flex-direction:column;
}

.logo{
font-size:1.2rem;
margin-bottom:40px;
}

/* MENU */

.menu a{

position:relative;
display:flex;
align-items:center;

color:#a0aec0;
text-decoration:none;

padding:12px 15px;
margin-bottom:8px;

border-radius:12px;

transition:0.3s;

}

.menu a:hover{

color:white;
background:rgba(255,255,255,0.05);

}

.menu a.active{

color:white;
background:linear-gradient(90deg,rgba(45,187,115,0.15),transparent);

}

.menu a::before{

content:"";
position:absolute;

left:0;
top:0;

height:100%;
width:4px;

background:var(--primary-green);

transform:scaleY(0);
transition:0.3s;

}

.menu a.active::before{

transform:scaleY(1);

}

.user-profile{

margin-top:auto;

}

.info{
font-size:0.9rem;
color:#5778a4;
}   

/* MAIN */

.main{

flex:1;
padding:40px;

}

/* HEADER */

.header{

display:flex;
justify-content:space-between;
align-items:center;

margin-bottom:30px;

}

.header h1 span{

color:#ff9f1c;

}

.btn{

background:var(--primary-green);
color:white;

border:none;

padding:12px 20px;

border-radius:10px;

cursor:pointer;

}

/* GOALS */

.goals{

background:white;

border-radius:20px;

padding:20px;

margin-bottom:30px;

}

.goal-card{

display:grid;

grid-template-columns:2fr 2fr 1fr 1fr;

align-items:center;

padding:20px;

border-bottom:1px solid #eee;

}

.goal-progress{

display:flex;
align-items:center;
gap:10px;

}

.progress{

height:8px;
width:150px;

background:#eee;

border-radius:10px;

overflow:hidden;

}

.fill{

height:100%;
background:#f4b400;

}

.fill.green{

background:#2dbb73;

}

.fill.purple{

background:#7b4bff;

}

.fill.gold{

background:#f4b400;

}

.status{

padding:6px 12px;
border-radius:20px;
font-size:13px;

}

.progress-status{

background:#e6f7ff;
color:#3182ce;

}

.almost{

background:#efe6ff;
color:#7b4bff;

}

/* SUMMARY */

.summary{

display:grid;

grid-template-columns:1fr 1fr 2fr;

gap:20px;

}

.card{

background:white;

padding:20px;

border-radius:15px;

}